In [2]:
## Setting working directory
import os
path="C:\\Users\\Admin\\Documents\\Python Scripts"
os.chdir(path)
print(os.getcwd())

C:\Users\Admin\Documents\Python Scripts

In [4]:
## import pandas and numpy
## pandas has its own datastructures also

import pandas as pd
import numpy as np

In [9]:
## Datastructure inside pandas
## 1 Series - A one-dimensional labeled array capable of holding any data type - similar to vector in R
## Here abcd are indexes - similar to keys, they referto the 3574 nums - simple arrays   (here index is optional)

s=pd.Series([3,5,7,4], index=['a', 'b', 'c', 'd'])  
print(s)

a    3
b    5
c    7
d    4
dtype: int64

In [8]:
type(s)

pandas.core.series.Series

In [12]:
## 2 DATAFRAMES
## A two-dimensional labeled data structure with columns of potentially different types
data={'Country': ['Belgium', 'India', 'Brazil'],
      'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
      'Population':[11190856, 130317896, 20789567]}
      
df=pd.DataFrame(data,columns=['Country', "Capital", 'Population'])

In [11]:
type(data)

dict

In [13]:
## above, you first have created a dictionary called DATA with keys and values
## then passed the values into a dataframe
type(df)

pandas.core.frame.DataFrame

In [16]:
## get help on functions
help(pd.DataFrame)   # pd has to be prefixed in pandas

help(pd.DataFrame.loc)  # there is a loc function inside the pd.DataFrame, we are seeking help for it

Help on class DataFrame in module pandas.core.frame:

class DataFrame(pandas.core.generic.NDFrame)
 |  Two-dimensional size-mutable, potentially heterogeneous tabular data
 |  structure with labeled axes (rows and columns). Arithmetic operations
 |  align on both row and column labels. Can be thought of as a dict-like
 |  container for Series objects. The primary pandas data structure.
 |
 |  Parameters
 |  ----------
 |  data : numpy ndarray (structured or homogeneous), dict, or DataFrame
 |      Dict can contain Series, arrays, constants, or list-like objects
 |
 |      .. versionchanged :: 0.23.0
 |         If data is a dict, argument order is maintained for Python 3.6
 |         and later.
 |
 |  index : Index or array-like
 |      Index to use for resulting frame. Will default to RangeIndex if
 |      no indexing information part of input data and no index provided
 |  columns : Index or array-like
 |      Column labels to use for resulting frame. Will default to
 |      RangeIndex (0, 1, 2, ..., n) if no column labels are provided
 |  dtype : dtype, default None
 |      Data type to force. Only a single dtype is allowed. If None, infer
 |  copy : boolean, default False
 |      Copy data from inputs. Only affects DataFrame / 2d ndarray input
 |
 |  Examples
 |  --------
 |  Constructing DataFrame from a dictionary.
 |
 |  >>> d = {'col1': [1, 2], 'col2': [3, 4]}
 |  >>> df = pd.DataFrame(data=d)
 |  >>> df
 |     col1  col2
 |  0     1     3
 |  1     2     4
 |
 |  Notice that the inferred dtype is int64.
 |
 |  >>> df.dtypes
 |  col1    int64
 |  col2    int64
 |  dtype: object
 |
 |  To enforce a single dtype:
 |
 |  >>> df = pd.DataFrame(data=d, dtype=np.int8)
 |  >>> df.dtypes
 |  col1    int8
 |  col2    int8
 |  dtype: object
 |
 |  Constructing DataFrame from numpy ndarray:
 |
 |  >>> df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),
 |  ...                    columns=['a', 'b', 'c', 'd', 'e'])
 |  >>> df2
 |      a   b   c   d   e
 |  0   2   8   8   3   4
 |  1   4   2   9   0   9
 |  2   1   0   7   8   0
 |  3   5   1   7   1   3
 |  4   6   0   2   4   2
 |
 |  See also
 |  --------
 |  DataFrame.from_records : constructor from tuples, also record arrays
 |  DataFrame.from_dict : from dicts of Series, arrays, or dicts
 |  DataFrame.from_items : from sequence of (key, value) pairs
 |  pandas.read_csv, pandas.read_table, pandas.read_clipboard
 |
 |  Method resolution order:
 |      DataFrame
 |      pandas.core.generic.NDFrame
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      __builtin__.object
 |
 |  Methods defined here:
 |
 |  __add__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __add__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __and__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __and__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __div__ = __truediv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __truediv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __eq__(self, other)
 |      Wrapper for comparison method __eq__
 |
 |  __floordiv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __floordiv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __ge__(self, other)
 |      Wrapper for comparison method __ge__
 |
 |  __getitem__(self, key)
 |
 |  __gt__(self, other)
 |      Wrapper for comparison method __gt__
 |
 |  __iadd__ = f(self, other)
 |
 |  __iand__ = f(self, other)
 |
 |  __idiv__ = f(self, other)
 |
 |  __ifloordiv__ = f(self, other)
 |
 |  __imod__ = f(self, other)
 |
 |  __imul__ = f(self, other)
 |
 |  __init__(self, data=None, index=None, columns=None, dtype=None, copy=False)
 |
 |  __ior__ = f(self, other)
 |
 |  __ipow__ = f(self, other)
 |
 |  __isub__ = f(self, other)
 |
 |  __itruediv__ = f(self, other)
 |
 |  __ixor__ = f(self, other)
 |
 |  __le__(self, other)
 |      Wrapper for comparison method __le__
 |
 |  __len__(self)
 |      Returns length of info axis, but here we use the index
 |
 |  __lt__(self, other)
 |      Wrapper for comparison method __lt__
 |
 |  __matmul__(self, other)
 |      Matrix multiplication using binary `@` operator in Python>=3.5
 |
 |  __mod__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __mod__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __mul__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __mul__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __ne__(self, other)
 |      Wrapper for comparison method __ne__
 |
 |  __or__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __or__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __pow__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __pow__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __radd__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __radd__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rand__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __rand__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rdiv__ = __rtruediv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rtruediv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rfloordiv__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rfloordiv__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rmatmul__(self, other)
 |      Matrix multiplication using binary `@` operator in Python>=3.5
 |
 |  __rmod__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rmod__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rmul__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rmul__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __ror__(self, other, axis='columns', level=None, fill_value=None)
 |      Binary operator __ror__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rpow__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rpow__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}
 |          For Series input, axis to match Series index on
 |      fill_value : None or float value, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together
 |
 |      Returns
 |      -------
 |      result : DataFrame
 |
 |  __rsub__(self, other, axis=None, level=None, fill_value=None)
 |      Binary operator __rsub__ with support to substitute a fill_value for missing data in
 |      one of the inputs
 |
 |      Parameters
 |      ----------
 |      other : Series, DataFrame, or constant
 |      axis : {0, 1, 'index', 'columns'}

In [17]:
## reading a csv file

pd.read_csv('demo.csv', header=None, nrows=5) ## reading only first 5 rows

# here you gave head=None, but it considers arefirst row = so now mention head=0

,0,1,2,3,4,5,6
0,Ac_No,Age,Years of Experience,Number of Vehicles,Gender,Marital_status,Losses in Thousands
1,150024,24,5,1,M,Married,203.3195946
2,144880,31,10,1,F,Single,402.1973024
3,133742,56,37,1,M,Married,553.1320959
4,151282,52,31,1,F,Married,292.4305792

In [19]:
mydemo=pd.read_csv('demo.csv', header=0)  # reading all rows, and python takes first row as header 
mydemo.head(5)#similar to head() in R

,Ac_No,Age,Years of Experience,Number of Vehicles,Gender,Marital_status,Losses in Thousands
0,150024,24,5,1,M,Married,203.319595
1,144880,31,10,1,F,Single,402.197302
2,133742,56,37,1,M,Married,553.132096
3,151282,52,31,1,F,Married,292.430579
4,174407,20,3,1,M,Single,246.540576

In [20]:
## view all columns
df.columns    ## similar to colnames / names in R   -  here ignore the u, its some unicode way

Index([u'Country', u'Capital', u'Population'], dtype='object')

In [21]:
## view columns of your recently created df
mydemo.columns

Index([u'Ac_No', u'Age', u'Years of Experience', u'Number of Vehicles',
       u'Gender', u'Marital_status', u'Losses in Thousands'],
      dtype='object')

In [22]:
## writing pandas dataframe to a csv
mydemo.to_csv('pddataframe.csv', index=False)  ## same issue as we saw in R, fix it  

# index is row numbering index column which will be the first column in your csv.  you dont want it, so index=False

In [23]:
########  Subsetting ################
## Accessing the series you created first,  usethe keys to call the values
s['b']

5

In [24]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190856
1    India  New Delhi   130317896
2   Brazil   Brasilia    20789567

In [25]:
### Subsetting data frame
df[1:]    # where row is 1 and above - so the 0th row is left out

  Country    Capital  Population
1   India  New Delhi   130317896
2  Brazil   Brasilia    20789567

In [26]:
## subset by position
df.loc[1]  # subsetting by location - this wont be displayed like a row/table, instead like a key-value pair

Country           India
Capital       New Delhi
Population    130317896
Name: 1, dtype: object

In [27]:
## subsetting few rows and few columns
df.loc[[1,2], ['Country', 'Capital']]

  Country    Capital
1   India  New Delhi
2  Brazil   Brasilia

In [28]:
## Select capital for second row
df.loc[2,'Capital']

'Brasilia'

In [31]:
## Select all rows and few columns
df.loc[:, ['Country', 'Capital']]

   Country    Capital
0  Belgium   Brussels
1    India  New Delhi
2   Brazil   Brasilia

In [32]:
## first 10 rows
mydemo.loc[1:10, ['Age', 'Ac_No']]

    Age   Ac_No
1    31  144880
2    56  133742
3    52  151282
4    20  174407
5    29  142548
6    36  183396
7    67  106838
8    69  137434
9    16  192628
10   19  154894

In [ ]:
## Summary of loc function   .loc
## only uses labels
##Can select rows and columns simultaneously
# selection can be a single label, a list of labels or a slice of labels  (LABELS IS COLUMN NAMES)
# put a comma between row and column selections

In [33]:
## .iloc - similar to loc but makes integer location to select its location
df.iloc[1]

Country           India
Capital       New Delhi
Population    130317896
Name: 1, dtype: object

In [34]:
df.loc[1]

Country           India
Capital       New Delhi
Population    130317896
Name: 1, dtype: object

In [35]:
df.loc[:, [1]]  # here I'm trying to use column number 1, it throws an error
# becoz .loc cant read column numbers, it needs only column labels or colnames

KeyError: u'None of [[1]] are in the [columns]'

In [36]:
##  .iloc - select multiple rows
df.iloc[[1,2]]

  Country    Capital  Population
1   India  New Delhi   130317896
2  Brazil   Brasilia    20789567

In [38]:
## Try 0:2 
df.iloc[0:2]   # difference in two brackets for the above, here with colon:, one bracket is enough

   Country    Capital  Population
0  Belgium   Brussels    11190856
1    India  New Delhi   130317896

In [37]:
## using .iloc columns and rows together
df.iloc[[0,1], [0,1]]

   Country    Capital
0  Belgium   Brussels
1    India  New Delhi

In [43]:
##same thing using colon
df.iloc[0:2, 1:3]  ## remember the last number should be n-1

     Capital  Population
0   Brussels    11190856
1  New Delhi   130317896

In [44]:
## subset a series based on where condition - not greater than 5  - ` tilda is a not operator like ! 
s[~(s>5)]

a    3
b    5
d    4
dtype: int64

In [45]:
##s where value is <-1 or >2     -  pipe | is the OR operator
s[(s<-1) | (s>2)]

a    3
b    5
c    7
d    4
dtype: int64

In [46]:
## filter on dataframe
df[df['Population']>111908456]

  Country    Capital  Population
1   India  New Delhi   130317896

In [47]:
## drop rows

df.drop(1, axis=0)   # try dropping multiple rows-df.drop(df.index[[1,3]])-

## row no.1 gets dropped,  axis=0 is display rowwise as is

   Country   Capital  Population
0  Belgium  Brussels    11190856
2   Brazil  Brasilia    20789567

In [50]:
## drop by column
df.drop("Country",axis=1) # here you dropped Country column, so axis=1   is veryimportant   (row=0, column=1)

     Capital  Population
0   Brussels    11190856
1  New Delhi   130317896
2   Brasilia    20789567

In [52]:
df.drop(["Country",'Capital'], axis=1)   # dropping 2 columns

   Population
0    11190856
1   130317896
2    20789567

In [54]:
### Sorting & summarization ####

## Sort by one column
df.sort_values(by='Country')

   Country    Capital  Population
0  Belgium   Brussels    11190856
2   Brazil   Brasilia    20789567
1    India  New Delhi   130317896

In [58]:
df.sort_values(by=['Country', 'Capital'], ascending=False)   ## sorting with multiple columns - in descending order

   Country    Capital  Population
1    India  New Delhi   130317896
2   Brazil   Brasilia    20789567
0  Belgium   Brussels    11190856

In [59]:
df.sort_values(by=['Country', 'Capital'], ascending=[True,False])   # first column in ascending, second in descending

   Country    Capital  Population
0  Belgium   Brussels    11190856
2   Brazil   Brasilia    20789567
1    India  New Delhi   130317896

In [60]:
## Rank function is used to rank the entries
print(df)

   Country    Capital  Population
0  Belgium   Brussels    11190856
1    India  New Delhi   130317896
2   Brazil   Brasilia    20789567

In [61]:
df.rank()   # lowest to highest is the default

   Country  Capital  Population
0      1.0      2.0         1.0
1      3.0      3.0         3.0
2      2.0      1.0         2.0

In [64]:
df['Population'].rank()   # ranking based on one column metric

### Remember rank function doesnt give the highest value rank as 1,  it just sorts in ascending n assigns the order no. rank only

0    1.0
1    3.0
2    2.0
Name: Population, dtype: float64

In [65]:
mydemo.shape   ## dim function that gives no. or rows vs.cols

(15290, 7)

In [66]:
## What is the highest Age in data
mydemo["Age"].max()

70

In [95]:
## Percentiles and quantiles

mydemo.quantile([0.67])

,Ac_No,Age,Years of Experience,Number of Vehicles,Losses in Thousands
0.67,166964.89,56.0,37.0,3.0,435.331063

In [97]:
## if you want for specific columns only - percentiles or quantiles
mydemo["Age"].quantile([0.67,0.81,0.93])

0.67    56.0
0.81    63.0
0.93    68.0
Name: Age, dtype: float64

In [98]:
np.percentile(mydemo["Age"], [67,81,93])

##Difference between percentiles and quantiles
##A) Quantile always takes the values 0 to 1,  so all percentages will be prefixed with a 0.
##B) Percentile should always be prefixed with np.percentile and then supply dataframename and the percentages
##C) Percentages should be given in numbers from 0 to 100, and not 0 to 1

array([56., 63., 68.])

In [67]:
## What is the total loss in thousands accounted by Female
mydemo['Losses in Thousands'] [mydemo['Gender']=='F'].sum()

2662712.98121624

In [68]:
## How many entries are there for each age  # similar function in R = table
mydemo['Age'].value_counts()

25    508
22    488
16    477
23    461
21    457
18    445
19    445
70    432
20    432
17    429
61    428
24    421
68    416
67    413
63    408
69    402
64    393
62    368
60    367
66    359
65    357
49    210
43    208
28    204
39    204
45    204
53    201
26    199
40    198
38    194
31    194
58    194
55    193
35    192
27    191
57    190
33    189
41    189
34    188
29    187
47    187
54    184
50    184
44    183
51    181
52    180
30    177
48    177
36    176
32    176
46    174
56    172
59    171
37    170
42    163
Name: Age, dtype: int64

In [99]:
## Age of third row
mydemo.loc[2, "Age"]

56

In [69]:
## number of non-null unique genderentries
mydemo['Gender'].nunique() ## length(unique(mydemo$Gender)) in R

2

In [100]:
mydemo.iloc[3,1]
## 4th row and 2nd column

52

In [70]:
## Get the first entry for each Age
mydemo.groupby('Age').first()

,Ac_No,Years of Experience,Number of Vehicles,Gender,Marital_status,Losses in Thousands
Age,,,,,,
16,192628,0,1,F,Single,242.772576
17,140896,0,1,M,Single,877.077883
18,196673,1,1,M,Single,904.840135
19,154894,1,1,M,Single,763.729857
20,174407,3,1,M,Single,246.540576
21,187253,2,1,F,Married,183.060048
22,155134,3,1,F,Single,220.638533
23,152298,4,1,M,Single,845.759278
24,150024,5,1,M,Married,203.319595
25,140463,6,1,M,Single,747.527387
26,111448,7,1,F,Married,606.357377
27,174141,7,1,F,Married,488.695610
28,157903,9,1,M,Single,707.379325
29,142548,8,1,M,Married,384.676395
30,105052,13,1,M,Single,446.750830
31,144880,10,1,F,Single,402.197302
32,181720,12,1,M,Married,178.462322
33,104183,16,1,M,Single,169.376458
34,141654,13,1,F,Married,151.259163
35,109945,14,1,F,Single,355.251576
36,183396,19,1,F,Single,462.158856
37,157539,16,1,F,Single,217.959575
38,120208,20,1,M,Married,522.831221
39,146242,22,1,M,Married,680.163009
40,101665,19,1,F,Single,387.485159
41,138988,22,1,F,Married,210.312302
42,119576,21,1,M,Single,368.941175
43,140775,22,1,M,Single,383.093547
44,165177,27,1,F,Single,472.599811
45,193913,26,1,M,Married,391.238400
46,157356,27,1,M,Married,358.521705
47,102319,30,1,F,Married,329.630193
48,193219,29,1,M,Married,330.193310
49,171105,30,1,M,Single,454.824734
50,196222,32,1,M,Single,274.314283
51,196143,31,1,M,Married,514.696561
52,151282,31,1,F,Married,292.430579
53,178940,33,1,F,Married,300.781865
54,161398,34,1,M,Married,314.085069
55,183078,34,1,F,Married,522.907047
56,133742,37,1,M,Married,553.132096
57,160387,40,1,M,Married,314.662097
58,167746,39,1,F,Single,381.747731
59,149440,42,1,M,Single,351.167829
60,120268,41,1,F,Married,227.664488
61,108996,40,1,M,Single,388.654442
62,103555,45,1,M,Married,275.214409
63,136743,43,1,F,Single,217.120579
64,116579,47,1,M,Married,109.026343
65,127360,48,1,M,Single,306.739501
66,198709,49,1,F,Single,273.156735
67,106838,49,1,F,Married,168.934036
68,128861,49,1,F,Married,155.720845
69,137434,48,1,M,Single,69.893041
70,185013,51,1,M,Single,341.907278

In [72]:
## how many entries for Age=27
len (mydemo[mydemo['Age']==27])   # length of mydemo, where mydemoage ==27

191

In [73]:
## group by with aggregation functions
mydemo.groupby('Age') ['Losses in Thousands'].sum()   # use any function like mean/std/var here

Age
16    247712.931623
17    237150.560530
18    230970.530181
19    225267.327021
20    230888.114524
21    244761.093864
22    251260.738322
23    233858.776840
24    217553.749064
25    278947.785551
26     82235.556814
27     79312.409002
28     84939.336256
29     77575.874396
30     74619.266614
31     81321.888977
32     71071.495338
33     80053.143765
34     77830.239475
35     81726.264638
36     74915.973969
37     70188.512627
38     84210.745838
39     86055.326634
40     81431.773315
41     73539.727496
42     67072.489129
43     84138.173669
44     82102.886830
45     85170.396484
46     70093.787376
47     76532.175381
48     75660.241638
49     83055.690007
50     76108.259183
51     75637.649457
52     80280.905645
53     81613.177312
54     75939.117801
55     76856.126930
56     70750.740170
57     80958.207440
58     82244.028756
59     68359.576637
60     72951.322668
61     94121.555641
62     79769.896060
63     87551.718980
64     83754.497253
65     74050.124527
66     74163.154520
67     83275.197913
68     86375.220983
69     82830.396666
70     90139.227413
Name: Losses in Thousands, dtype: float64

In [ ]:
## what is produced by the grouped output

mydemo.groupby('Age') ['Losses in Thousands'].sum() # this produces panda series
mydemo.groupby('Age') [['Losses in Thousands']].sum()  # this produces panda dataframe

In [74]:
# Losses in thousands contributed by 30year old-gender wise breakup
mydemo[mydemo['Age']==30].groupby('Gender')['Losses in Thousands'].sum()

Gender
F    40248.234954
M    34371.031660
Name: Losses in Thousands, dtype: float64

In [75]:
# get the number of males and females
mydemo.groupby('Gender').count()   # here it gives the count of all columns for gender

,Ac_No,Age,Years of Experience,Number of Vehicles,Marital_status,Losses in Thousands
Gender,,,,,,
F,7747,7747,7747,7747,7747,7747
M,7543,7543,7543,7543,7543,7543

In [78]:
## group by 2 category columns and aggregate
## break losses in thousands for each age group by male and female
mydemo.groupby(['Age','Gender'])['Losses in Thousands'].sum()

Age  Gender
16   F         100663.597560
     M         147049.334063
17   F          87335.101774
     M         149815.458756
18   F          86398.693024
     M         144571.837157
19   F          85778.877716
     M         139488.449305
20   F          99153.921850
     M         131734.192674
21   F          95919.427013
     M         148841.666850
22   F         104074.914279
     M         147185.824042
23   F          95976.150033
     M         137882.626807
24   F          91689.495585
     M         125864.253478
25   F         109897.015473
     M         169050.770078
26   F          35273.201967
     M          46962.354846
27   F          38875.552856
     M          40436.856146
28   F          37099.623871
     M          47839.712384
29   F          40604.714150
     M          36971.160246
30   F          40248.234954
     M          34371.031660
                   ...
56   F          33957.299023
     M          36793.441147
57   F          33125.946683
     M          47832.260757
58   F          37099.247525
     M          45144.781230
59   F          33051.475577
     M          35308.101060
60   F          36564.939907
     M          36386.382760
61   F          40823.075434
     M          53298.480207
62   F          42591.997632
     M          37177.898429
63   F          41257.667690
     M          46294.051291
64   F          40071.985377
     M          43682.511876
65   F          32376.079999
     M          41674.044527
66   F          34702.155064
     M          39460.999456
67   F          38986.839938
     M          44288.357975
68   F          41598.390708
     M          44776.830275
69   F          40322.760973
     M          42507.635693
70   F          37764.352092
     M          52374.875321
Name: Losses in Thousands, Length: 110, dtype: float64

In [79]:
#### Descriptive statistics
mydemo.describe()

,Ac_No,Age,Years of Experience,Number of Vehicles,Losses in Thousands
count,15290.000000,15290.000000,15290.000000,15290.000000,15290.000000
mean,149961.789339,42.328254,23.732897,2.495880,389.859718
std,28947.841061,18.280511,17.850707,0.953776,253.729433
min,100002.000000,16.000000,0.000000,1.000000,12.534521
25%,124900.500000,24.000000,6.000000,2.000000,226.434217
50%,149897.500000,42.000000,23.000000,2.000000,354.937874
75%,175019.500000,61.000000,42.000000,3.000000,488.676927
max,200454.000000,70.000000,53.000000,4.000000,3500.000000

In [80]:
mydemo.mean  ## mean of all numeric columns

<bound method DataFrame.mean of         Ac_No  Age  Years of Experience  Number of Vehicles Gender  \
0      150024   24                    5                   1      M
1      144880   31                   10                   1      F
2      133742   56                   37                   1      M
3      151282   52                   31                   1      F
4      174407   20                    3                   1      M
5      142548   29                    8                   1      M
6      183396   36                   19                   1      F
7      106838   67                   49                   1      F
8      137434   69                   48                   1      M
9      192628   16                    0                   1      F
10     154894   19                    1                   1      M
11     187293   29                    8                   1      F
12     173214   20                    1                   1      F
13     163905   67                   49                   1      M
14     157356   46                   27                   1      M
15     160387   57                   40                   1      M
16     127360   65                   48                   1      M
17     108345   20                    1                   1      M
18     122164   67                   49                   1      M
19     103555   62                   45                   1      M
20     165177   44                   27                   1      F
21     140896   17                    0                   1      M
22     197555   29                   10                   1      F
23     198709   66                   49                   1      F
24     155134   22                    3                   1      F
25     104183   33                   16                   1      M
26     131927   69                   48                   1      F
27     146242   39                   22                   1      M
28     138988   41                   22                   1      F
29     102189   20                    2                   1      F
...       ...  ...                  ...                 ...    ...
15260  141976   67                   49                   4      M
15261  145106   30                   11                   4      F
15262  105602   70                   50                   4      F
15263  134400   63                   44                   4      F
15264  114729   69                   50                   4      M
15265  177767   55                   35                   4      F
15266  173187   37                   17                   4      M
15267  146726   44                   26                   4      M
15268  116954   52                   32                   4      F
15269  183153   62                   44                   4      M
15270  198694   17                    0                   4      M
15271  138860   22                    4                   4      M
15272  122326   35                   16                   4      F
15273  142360   69                   50                   4      F
15274  104479   21                    2                   4      M
15275  150034   22                    5                   4      F
15276  124202   39                   18                   4      M
15277  167680   32                   12                   4      M
15278  190736   17                    0                   4      M
15279  132298   62                   45                   4      M
15280  169309   47                   26                   4      M
15281  102285   17                    0                   4      F
15282  175296   30                   11                   4      M
15283  140800   52                   31                   4      F
15284  176376   36                   19                   4      M
15285  189499   61                   43                   4      F
15286  142111   69                   48                   4      F
15287  176444   69                   51                   4      F
15288  180420   22                    4                   4      M
15289  157201   20                    2                   4      F

      Marital_status  Losses in Thousands
0            Married           203.319595
1             Single           402.197302
2            Married           553.132096
3            Married           292.430579
4             Single           246.540576
5            Married           384.676395
6             Single           462.158856
7            Married           168.934036
8             Single            69.893041
9             Single           242.772576
10            Single           763.729857
11            Single           407.389374
12           Married           161.579521
13           Married           242.888776
14           Married           358.521705
15           Married           314.662097
16            Single           306.739501
17            Single           772.644820
18            Single           593.427411
19           Married           275.214409
20            Single           472.599811
21            Single           877.077883
22            Single           825.277228
23            Single           273.156735
24            Single           220.638533
25            Single           169.376458
26           Married            98.073558
27           Married           680.163009
28           Married           210.312302
29           Married           354.110330
...              ...                  ...
15260         Single            81.715501
15261        Married           248.573938
15262        Married           122.925942
15263         Single           282.868199
15264        Married           466.389345
15265        Married           363.135792
15266        Married           233.551584
15267         Single           490.854747
15268         Single           727.418280
15269         Single           165.197602
15270         Single           558.976531
15271        Married           443.800542
15272         Single           801.968977
15273        Married           450.898922
15274         Single          1147.154541
15275         Single           414.733710
15276         Single           750.710118
15277         Single           973.274088
15278        Married           477.464924
15279        Married           224.074054
15280        Married           327.005494
15281         Single           376.158182
15282         Single           472.252075
15283         Single           666.040877
15284         Single           204.462118
15285         Single            58.426429
15286        Married           304.519134
15287        Married           282.149148
15288        Married           822.470554
15289        Married           406.924740

[15290 rows x 7 columns]>

In [84]:
## What is the median of Age - there is no median function, so use the np.50th percentile 
np.percentile(mydemo['Age'], 50)

42.0

In [85]:
## Removing duplicates - create dataset with duplicate entry
dfduplicate=pd.DataFrame({"A":["foo", 'foo', 'foo', 'foo'],
                          "B":[0,1,1,1],
                          "C":["A",'A', 'B', 'A']})

dfduplicate   # row no. 1 and 3 are duplicates

     A  B  C
0  foo  0  A
1  foo  1  A
2  foo  1  B
3  foo  1  A

In [87]:
dfduplicate.drop_duplicates(keep="first")   # when you encounter multiplicate duplicate, just keep first or last

# keep=first/last/false  3 options.  If you say keep=false, it will remove the row itself

     A  B  C
0  foo  0  A
1  foo  1  A
2  foo  1  B

In [88]:
dfduplicate.drop_duplicates(keep=False)   #all the duplicated rows will be removed - hence row 1 and 3 are removed

     A  B  C
0  foo  0  A
2  foo  1  B

In [90]:
## What is binning 
## create a variable and give the limits for your bins
bins=[16,26,36,46,56,66,76]

## create a new column agebin  -  pd.cut function takes 2 arguments, column to be binned and your bins
mydemo['Agebin']=pd.cut(mydemo['Age'], bins)
mydemo['Agebin']

0        (16, 26]
1        (26, 36]
2        (46, 56]
3        (46, 56]
4        (16, 26]
5        (26, 36]
6        (26, 36]
7        (66, 76]
8        (66, 76]
9             NaN
10       (16, 26]
11       (26, 36]
12       (16, 26]
13       (66, 76]
14       (36, 46]
15       (56, 66]
16       (56, 66]
17       (16, 26]
18       (66, 76]
19       (56, 66]
20       (36, 46]
21       (16, 26]
22       (26, 36]
23       (56, 66]
24       (16, 26]
25       (26, 36]
26       (66, 76]
27       (36, 46]
28       (36, 46]
29       (16, 26]
           ...
15260    (66, 76]
15261    (26, 36]
15262    (66, 76]
15263    (56, 66]
15264    (66, 76]
15265    (46, 56]
15266    (36, 46]
15267    (36, 46]
15268    (46, 56]
15269    (56, 66]
15270    (16, 26]
15271    (16, 26]
15272    (26, 36]
15273    (66, 76]
15274    (16, 26]
15275    (16, 26]
15276    (36, 46]
15277    (26, 36]
15278    (16, 26]
15279    (56, 66]
15280    (46, 56]
15281    (16, 26]
15282    (26, 36]
15283    (46, 56]
15284    (26, 36]
15285    (56, 66]
15286    (66, 76]
15287    (66, 76]
15288    (16, 26]
15289    (16, 26]
Name: Agebin, Length: 15290, dtype: category
Categories (6, interval[int64]): [(16, 26] < (26, 36] < (36, 46] < (46, 56] < (56, 66] < (66, 76]]

In [91]:
## check size of your bin before creating bin - recommended to check no.of records in each bin before you bucket them
## just to check if its normally distributed or not
pd.cut(mydemo['Age'], bins=bins).value_counts()

(16, 26]    4285
(56, 66]    3235
(36, 46]    1887
(26, 36]    1874
(46, 56]    1869
(66, 76]    1663
Name: Age, dtype: int64

In [93]:
## Discretization- dummy column example
pd.get_dummies(mydemo['Gender'])  ## in R it creates automatically

# in python you have to use get_dummies function for categorical variables

       F  M
0      0  1
1      1  0
2      0  1
3      1  0
4      0  1
5      0  1
6      1  0
7      1  0
8      0  1
9      1  0
10     0  1
11     1  0
12     1  0
13     0  1
14     0  1
15     0  1
16     0  1
17     0  1
18     0  1
19     0  1
20     1  0
21     0  1
22     1  0
23     1  0
24     1  0
25     0  1
26     1  0
27     0  1
28     1  0
29     1  0
...   .. ..
15260  0  1
15261  1  0
15262  1  0
15263  1  0
15264  0  1
15265  1  0
15266  0  1
15267  0  1
15268  1  0
15269  0  1
15270  0  1
15271  0  1
15272  1  0
15273  1  0
15274  0  1
15275  1  0
15276  0  1
15277  0  1
15278  0  1
15279  0  1
15280  0  1
15281  1  0
15282  0  1
15283  1  0
15284  0  1
15285  1  0
15286  1  0
15287  1  0
15288  0  1
15289  1  0

[15290 rows x 2 columns]

In [103]:
## Creating dummies for multiple columns at once
##data2=pd.get_dummies(data, columns=['job', 'marital', 'default'])

##Data2 is the new dataframe
## data is your original dataframe
## list of categorical variables for which you want dummies

In [108]:
mydemo=pd.get_dummies(mydemo, columns=["Gender", "Marital_status"])

mydemo.head(5)

,Ac_No,Age,Years of Experience,Number of Vehicles,Losses in Thousands,Agebin,Gender_0,Gender_1,Marital_status_Married,Marital_status_Single
0,150024,24,5,1,203.319595,"(16, 26]",0,1,1,0
1,144880,31,10,1,402.197302,"(26, 36]",1,0,0,1
2,133742,56,37,1,553.132096,"(46, 56]",1,0,1,0
3,151282,52,31,1,292.430579,"(46, 56]",1,0,1,0
4,174407,20,3,1,246.540576,"(16, 26]",1,0,0,1

In [ ]:
## If you want 0 and 1 for Gender in a single column itself - but this wont be useful with 0s and 1s
mydemo["Gender"]=pd.get_dummies(mydemo["Gender"])

In [109]:
## String functions in python -  type will be str

a="Hello, world !"

print(a[1])

e

In [114]:
## Get thecharacters from position 2 to position5 (not included)
print(a[2:5])

llo

In [112]:
 ## Strip() method removes any whitespace from the beginning or the end  -  similar to trim
b="    I am Raji   "
print(b.strip())

I am Raji

In [113]:
## Len() method returns the width or length of the string:  if its a dataframe, len gives the no. of observations
print(len(a))

14

In [115]:
### Replacing spaces in between or characters in between a string
print(a.replace("H", "J"))

Jello, world !

In [116]:
## Lower () method to convert to lower case - similarly upper() is another function
print(a.lower())

hello, world !

In [120]:
## split()  method - splits the string into substrings if it finds instances of the separator
a="Hello, World !"
print(a.split(","))

test=a.split(",") # new variable test has a list of 2 strings now
# hello and world are separated and passed into a list

test

['Hello', ' World !']

['Hello', ' World !']

In [121]:
type(test)  # hello and world are separated and passed into a list

list

In [122]:
## now accessing the list u created abve
test[0]

'Hello'

In [177]:
## Write a python function which takes a 6 digit number and if second digit is 2 then change it to 1

def digit2(num):
    num=str(num)
    ##print(len(num))
    
    if num[1]=="2":
        newnum=num.replace("2", "1")
        return(num)
    else:
        return(num)

digit2("222229")
## The above program, looks for a 2 in the second digit and replaces all 2s with 1s.
## But we want only the second digt 2 to be replaced with 1

## so break the string, compare and then paste

TypeError: 'str' object does not support item assignment

In [180]:

def digit3(num):
    num=str(num)
    ##print(len(num))
    
    if num[1]=="2":
        newnum=num[0:1]+"1"+num[2:6]   ## or can be written as -> newnum=num[0:1]+str(1)+num[2:6]
        return(int(newnum))
    else:
        return(num)
    
digit3(222222)

### So, split the digits 1, hardcode second digt and concatenate the rest of the digits

'212222'

In [169]:
## concatenation - just use + as the operator
var1="My name"
var2="is Raji"
var3=var1+" "+var2
var3

'My name is Raji'

In [127]:
## initcap -  or just first letter captalisation is capitalize() method
var='raji'
var.capitalize()

'Raji'

In [135]:
## converting an integer to a char or string str() method
a=123456
str(a)

'123456'

In [181]:
a = "my name"
a[1]

'y'

In [182]:
## itemwise direct assignment inside a string is not possible
a[1]="A"

TypeError: 'str' object does not support item assignment

In [ ]:
## Time Series - time between time periods, weeks, days, months, years etc
### Lags -  Starting lag is 0,  then the value1-value1 is lag, then the 3rd value minus 2nd value and so on...
## This lag is now a new variable, which you compare with X variable
## your original X variable, will then be compared with the lags variable,  and a correlation will be arrived at
## this correlation also ranges between -1 and+1
## This concept is called AUTOCORRELATION

In [ ]:
## RSS - Residual Sum of Squares  Y Hat minus Y original,  will give you residuals/errors - sum of these squares is RSS
## TSS - Variance for your Y Actual, (each value of Y minus the Mean of Y = take their sum of squares)
## R Square = 1-(RSS/TSS) -> Variance of errors/residuals by variance of Y actual

In [ ]:
#### Difference btween Linear and Logistic Regression
##  1) Y varable is continuous or categorical
##  2) y variable will have probabilities 
##  3) Logistic regression = Log(Odd's Ratio)   -  Odds ratio = P/(1-P)
## For every unit increase in Advt,  the Odds in favour of the event, will increase by that much exponential ratio

In [ ]:
## Decision Trees
## Disadvantages
## If your training data has high variance, your model is likely to have a high variance with an overfit, leading to instability of model
## So, if data has high variance, mostly your model will also have high variance 
## it is not able to predict properly with new test data, and for every set of data its variance is too volatile
##  Why this happens is machine is learning/remembering too much close to training data and is unable to predict for test data

## Advantages
## Easy to explain
## Easy to understand
## Trees dont get affected by outliers much
## You dont need to dummify your variables, it automatically dummies
## Used for both classification and regression scenarios

## Decision tree predicting a continuous variable
## It goes on classifying and then in the end, group all the leaf nodes, takes the average of all the values of Y in that group and gives that output

In [183]:
## MERGING DATA ######
## Reading dataset about network consumption by ABC company
ABC=pd.read_csv("ABC_company_phone_data.csv")

## Reading TRAI (Telecom Regulatory Authority of India)
TRAI=pd.read_csv("TRAI_data.csv")

In [184]:
## Merging Data-2    -Viewing sample data from both datasets and column names
## List function gives you the names of columns
## df.columns function also gives you the columnnames  (df is your dataframe name - like ABC.columns())
print(ABC.head(5))
print(TRAI.head(5))
print(list(ABC), len(ABC))
print(list(TRAI), len(TRAI))

             date  duration   network
0  15/10/14 06:58        13  Vodafone
1  15/10/14 14:46        23    Meteor
2  15/10/14 14:48         4     Tesco
3  15/10/14 17:27         4     Tesco
4  15/10/14 18:55     45000     Tesco
    network  Total consumption
0  Vodafone             200000
1    Meteor             300000
2     Tesco             500000
3     Three             600000
4    Airtel             200000
(['date', 'duration', 'network'], 388)
(['network', 'Total consumption'], 5)

In [186]:
print(ABC.columns)

Index([u'date', u'duration', u'network'], dtype='object')

In [220]:
## Merge using pandas -  Left outer join, wher ABC is the left table and all 388 records come in merged
Merged_data=pd.merge(ABC, TRAI,on='network', how='left')
print(Merged_data.head(5))
print(len(Merged_data))

             date  duration   network  Total consumption
0  15/10/14 06:58        13  Vodafone           200000.0
1  15/10/14 14:46        23    Meteor           300000.0
2  15/10/14 14:48         4     Tesco           500000.0
3  15/10/14 17:27         4     Tesco           500000.0
4  15/10/14 18:55     45000     Tesco           500000.0
388

In [221]:
## Now Describe the merged_data,  by default describe will take only numeric columns, 
## so if you want description of categorical columns, use the swith include='all'

merged_stats_all=Merged_data.describe(include='all')
print(merged_stats_all)

## Date, Network are categorical columns, so no numerical stats shown, only freq and count are shown
## duration and consumption are numeric columns, so all numeric stats are given,  so these are shown as NaNs

                  date      duration network  Total consumption
count              388    388.000000     388         346.000000
unique             378           NaN       6                NaN
top     20/11/14 21:03           NaN   Three                NaN
freq                 2           NaN     128                NaN
mean               NaN    353.909794     NaN      425144.508671
std                NaN   2357.715224     NaN      169151.700841
min                NaN      1.000000     NaN      200000.000000
25%                NaN     14.000000     NaN      200000.000000
50%                NaN     69.000000     NaN      500000.000000
75%                NaN    245.250000     NaN      600000.000000
max                NaN  45000.000000     NaN      600000.000000

In [222]:
## Based on above,

## 1) Duration column has a big variance, std dev is high, min is 1, max is 45000, has major outliers
## 2) Consumption is somewhat normally distributed, but count has only 346 values, the rest (388-346) = 42 are missing values

## Outlier treatment for duration column
## lower end outlier is Q1-1.5 IQR = anything below is outlier
## Higher end outlier is Q3+1.5 IQR = anything above this is outlier

## check the column to have a deeper look at outliers - this function will display all the below percentiles
pd.DataFrame(Merged_data['duration']).describe(percentiles=(1, 0.99, 0.9, 0.75, 0.5, 0.3, 0.1,  0.01))

           duration
count    388.000000
mean     353.909794
std     2357.715224
min        1.000000
1%         2.000000
10%        4.000000
30%       23.000000
50%       69.000000
75%      245.250000
90%      637.900000
99%     1963.400000
100%   45000.000000
max    45000.000000

In [223]:
## Outlier treatment starts -  InterQuartileRange IQR 

# Convert 'duration' column data to temporary pandas dataframe so that it is easier to apply functions
duration_col_df=pd.DataFrame(Merged_data['duration'])

# Find mean of the 'duration column'  -  int is the integer function - so mean will be returned in integer and not decimals
duration_mean=int(duration_col_df.mean())

# Find 75th percentile of column duration
IQR_duration_P75=duration_col_df.quantile(q=0.75)

#Find 25th percentile of column duration
IQR_duration_P25=duration_col_df.quantile(q=0.25)

# Find IQR for the duration column
duration_IQR=IQR_duration_P75-IQR_duration_P25

##Fix LL and UL boundries to detect outliers in duration column
IQR_LL=int(IQR_duration_P25 - 10*duration_IQR)   # usually its 1.5 times, here since data has huge variance we are using 10times
IQR_UL=int(IQR_duration_P75 + 10*duration_IQR)

print(IQR_LL, IQR_UL, duration_mean)

(-2298, 2557, 353)

In [224]:
## now we treat the upper end and lower end outliers with 1st percentile and 99th perentile values
Merged_data.loc[Merged_data['duration']<IQR_LL, 'duration']=int(duration_col_df.quantile(q=0.01))
Merged_data.loc[Merged_data['duration']>IQR_UL, 'duration']=int(duration_col_df.quantile(q=0.99))

## loc functions takes rows and cols as arguments,
## the first is a condition for rows where duration is >LL or UL
## the second is the duration column which needs the change
## substite those values with 99th or 1st percentile

In [225]:
## Now missing value treatment for Total consumption column
## we will impute mean in place of missing values
Merged_data['Total consumption'].fillna((Merged_data['Total consumption'].mean()), inplace=True)

## Merged data - we take only Total consumption column
## fillna is the function that fills all na values
## fill it with Mean of Merged_data Total consumption column
## inplace =True overwrites existing value
## if you say inplace=False, you have to create a copy of that dataset

In [226]:
## check final stats again after outlier removal and missing value treatment
merged_data_final_stats=Merged_data.describe(include='all')
print(merged_data_final_stats)

                  date     duration network  Total consumption
count              388   388.000000     388         388.000000
unique             378          NaN       6                NaN
top     20/11/14 21:03          NaN   Three                NaN
freq                 2          NaN     128                NaN
mean               NaN   220.914948     NaN      425144.508671
std                NaN   369.348257     NaN      159709.383797
min                NaN     1.000000     NaN      200000.000000
25%                NaN    14.000000     NaN      300000.000000
50%                NaN    69.000000     NaN      500000.000000
75%                NaN   245.250000     NaN      600000.000000
max                NaN  2328.000000     NaN      600000.000000

In [227]:
## Glimpse of final data after cleaning
Merged_data.head(5)

             date  duration   network  Total consumption
0  15/10/14 06:58        13  Vodafone           200000.0
1  15/10/14 14:46        23    Meteor           300000.0
2  15/10/14 14:48         4     Tesco           500000.0
3  15/10/14 17:27         4     Tesco           500000.0
4  15/10/14 18:55      1963     Tesco           500000.0

In [228]:
## Data manipulation - each row consumption as a percentage of total consumption 

# Create a new KPi column called Percentage_of_total for each call
Merged_data['Percentage_of_total']=(Merged_data['duration']*100)/Merged_data['Total consumption']
Merged_data.head(10)

             date  duration   network  Total consumption  Percentage_of_total
0  15/10/14 06:58        13  Vodafone           200000.0             0.006500
1  15/10/14 14:46        23    Meteor           300000.0             0.007667
2  15/10/14 14:48         4     Tesco           500000.0             0.000800
3  15/10/14 17:27         4     Tesco           500000.0             0.000800
4  15/10/14 18:55      1963     Tesco           500000.0             0.392600
5  16/10/14 15:01       602     Three           600000.0             0.100333
6  16/10/14 15:12      1050     Three           600000.0             0.175000
7  16/10/14 15:30        19    Airtel           200000.0             0.009500
8  16/10/14 16:21      1183     Three           600000.0             0.197167
9  17/10/14 17:26        92     Three           600000.0             0.015333

In [229]:
## now, we have the percentage for each call duration
## we have to sum up this call duration, for each network provider

Merged_data.groupby(['network'])['Percentage_of_total'].aggregate('sum')

## which network is getting max business from ABC company? -Vodafone, bcoz 7.3% of ABC consumption is from Vodafone network

network
Airtel      0.887500
Meteor      2.400000
Tesco       3.157400
Three       6.077333
Vodafone    7.310500
landline    2.321093
Name: Percentage_of_total, dtype: float64